#promo-box-section-1 {
  background-image: url('../../../../assets/img/banners/02.jpg');
}

#promo-box-section-2 {
  background-image: url('../../../../assets/img/banners/03.jpg');
}

#hero-slider {
  background-image: url('../../../../assets/img/hero-slider/main-bg.jpg');
}

#promo-1 {
  background-image: url('../../../../assets/img/banners/home01.jpg');
}

#promo-2 {
  background-image: url('../../../../assets/img/banners/home02.jpg');
}
