button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.offcanvas-menu {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.offcanvas-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offcanvas-menu ul.menu {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.offcanvas-menu ul.menu.off-view {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.offcanvas-menu ul.menu.in-view {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.offcanvas-menu ul li {
  display: block;
}
.offcanvas-menu ul li a,
.offcanvas-menu ul li button {
  display: block;
  padding: 15px 20px;
  transition: color 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
.offcanvas-menu ul li a:hover,
.offcanvas-menu ul li button:hover {
  color: #0da9ef;
}
.offcanvas-menu ul li.back-btn > button {
  background-color: #313b47;
  color: #fff;
}
.offcanvas-menu ul li.back-btn > button::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  border-top: 0.32em solid transparent;
  border-right: 0.37em solid;
  border-bottom: 0.32em solid transparent;
  content: '';
  opacity: 0.75;
}
.offcanvas-menu ul li.active > a,
.offcanvas-menu ul li.active > button {
  color: #0da9ef;
}
.offcanvas-menu ul li.has-children > span {
  display: block;
  position: relative;
  width: 100%;
}
.offcanvas-menu ul li.has-children > span > a {
  padding-right: 65px;
}
.offcanvas-menu ul li.has-children.active > span > a,
.offcanvas-menu ul li.has-children.active > span > button {
  color: #0da9ef;
}
.offcanvas-menu ul li.has-children .sub-menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  height: calc(100% - 1px);
  transition: background-color 0.3s;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  z-index: 1;
}
.offcanvas-menu ul li.has-children .sub-menu-toggle::before {
  display: block;
  position: absolute;
  top: 50%;
  right: 25px;
  width: 0;
  height: 0;
  margin-top: -5px;
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.4em solid;
  content: '';
}
.offcanvas-menu ul li.has-children .sub-menu-toggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.offcanvas-menu ul li.has-children > .offcanvas-submenu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: auto;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.offcanvas-menu ul li.has-children > .offcanvas-submenu.in-view {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.offcanvas-menu ul li.has-children > .offcanvas-submenu.off-view {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
