/* #promo-box-1 {
  background-image: url("./assets/img/banners/02.jpg");
}

#promo-box-2 {
  background-image: url("./assets/img/banners/03.jpg");
} */

.reset-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
